<header>
  <div class="container">
    <a routerLink="/" class="logo">Angular Food</a>
    <nav class="navclass">
      <ul>
        <li><a routerLink="/Login"> Login </a> </li>
        <li class="menu-container">
          <a routerLink="/dashboard"> Pradeep </a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/Orders"> Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li><a routerLink="/Cart">Cart <span>3</span> </a></li>
      </ul>
    </nav>
  </div>
</header>
<app-home></app-home>
